.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
overflow-y: scroll;
}

/* Modal Content */
.modal-content {
  background-color: #ECF0F0;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
  height: 95%;

}

.image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../imgs/guitar2.jpg");
  height: 40%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../imgs/guitar1.jpg");
  height:150px;
  width:150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 50%;
  top:120px;

}

.pos{
margin-top: 40px;
height: 40%;
overflow: scroll;
}
.td{
height: 31px;
  width:400px;
}
.tr{
height: 31px;
    width:150px;
}
::-webkit-scrollbar {
width: 12px;
}

::-webkit-scrollbar-track {
background: #f5f5f5;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
background: #999;
}
.lf{
  margin-top: -70px;
  height: 40px;
  width: 120px;
}
